@import url('https://fonts.googleleapis.com/css?family=Mulidisplay=swap');


*{
    box-sizing: border-box;
}

body{
    font-family:'Muli', sans-serif;
    background-color: #2b88f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    margin:0;
}