@import url('https://fonts.googleleapis.com/css?family=Mulidisplay=swap');


*{
    box-sizing: border-box;
}

body{
    font-family:'Muli', Courier, monospace;
    background-color: #f6f7fb;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    margin:0; */
}

h1{
    margin :50px 0 30px;
    text-align: 0 auto;
}

.faq-container {
    max-width:600pc;
    margin: 0 auto
}

.faq{
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius : 10px;
    margin: 20px 0;
    padding :30px;
    position : relative;
    overflow:hidden;
    transition : 0.3s ease;
}


.faq.active{
    background-colors : #fff;
    
}