@import url('https://fonts.googleleapis.com/css?family=Mulidisplay=swap');


*{
    box-sizing: border-box;
}

body{
    font-family:'Muli', Courier, monospace;
    background-color: #198ae7;
    
}

.main{
    
}
