@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html,body{
    font-family:'Gilroy',sans-serif;
    background-color: #f6f7fb;
    height:100%;
    width:100%;
    
}

#main{
    height: 100%;
    width:100%;
    color:#dedede;
    display:grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows:20% 20% 20% 20% 20%;
}

.elem{
    background-color: #307020;
    border: 2px solid #dedede

}

#elem1{
    /* background-color: rgba(110, 88, 48, 0.836);
    /* grid-row-start:1;
    grid: row end 3px;
    /* grid-column-start: 1;
    grid-column-end: 4; */  */
}