@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family:'Muli', Courier, monospace;
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    margin:0;
}

.container{
    background-color: rgba(0,0,0,0.4);
    color:white;
    padding:20px 40px;
    border-radius:5px;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

.container a{
    font-size: 20px;
    text-decoration: none;
    color:#f0ec08fb
}

.btn {
    cursor:pointer;
    display: inline-block;
    background-color: rgb(140, 235, 145);
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    width:100%;
    border: 0;
    border-radius: 10px;
}

.form-control{
    posotion:relative;
    margin:20px 0 40px;
    width:300px;
}

.btn:active{
    transform:scale(1.0);
}

.text{
    margin-top:30px;
}

.btn:focus{
    outline:0;
}

.form-control input{
    background-color: transparent;
    border:0;
    border-bottom:2px #fff solid;
    display: block;
    width:100%;
    padding:15px 0;
    color:#fff;
}

.form-control input:focus,
.form-control input:valid{
outline:0;
}